# Discord Bot
DISCORD_TOKEN=your_bot_token_here
DISCORD_APP_ID=your_app_id_here

# Lavalink
LAVALINK_HOST=lavalink:2333
LAVALINK_PASSWORD=youshallnotpass

# Data
DATA_DIR=./data
# DB_PATH=./data/pedmin.db

# Pelican Panel
PANEL_API_KEY=

# URL
XGD_API_KEY=your_xgd_api_key_here
VT_API_KEY=your_virustotal_api_key_here
