# Discord Bot
DISCORD_TOKEN=
DISCORD_APP_ID=

# Lavalink
LAVALINK_HOST=lavalink:2333
LAVALINK_PASSWORD=uwaaaaaa

# Data
DATA_DIR=./data
# DB_PATH=./data/pedmin.db

# Pelican Panel
PANEL_API_KEY=

# URL
XGD_API_KEY=
VT_API_KEY=

# Translate
DEEPL_API_KEY=
