# Discord Bot
DISCORD_TOKEN=
DISCORD_APP_ID=

# Lavalink
LAVALINK_HOST=lavalink:2333
LAVALINK_PASSWORD=youshallnotpass

# Storage
DATA_DIR=./data
# DB_PATH=./data/pedmin.db

# Pelican Panel
PANEL_API_KEY=
PANEL_URL=
PANEL_ALLOWED_USERS=

# URL Tools
XGD_API_KEY=
VT_API_KEY=

# Translation
DEEPL_API_KEY=

# Logging (debug, info, warn, error)
LOG_LEVEL=info
