lavalink: {
	host:     *"lavalink:2333" | string
	password: *"youshallnotpass" | string
}

storage: {
	dataDir: *"./data" | string
	dbPath:  *"\(dataDir)/pedmin.db" | string
}

player: {
	defaultVolume:    *50 | int & >=0 & <=200
	autoLeaveTimeout: *180 | int & >=0           // 秒。0=無効
}

presence: {
	interval: *30 | int & >=5 & <=600            // 秒
}

logLevel: *"info" | "debug" | "warn" | "error"

panel: {
	url:          *"" | string
	allowedUsers: [...int] | *[]
}
